/// @type Color
$color-main: #ffffff;
$color-additional: #dddbdb;
$text-color: #1d1c1c;
$text-color-additional: #939090;
$button-color: #422c82;
$button-color-additional: #b19bf3;
$button-color-light: #c2affb;

/// Container's maximum width
/// @type Length
$max-width: 1600px !default;
$small-desktop-width: 1599px;
$tablet-width: 999px;
$mobile-width: 639px;