.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.calculator-wrapper {
  display: flex;
  gap: 5rem;

  width: 100%;
}

.selected-image {
  width: 5rem;
}
